In [1]:
import csv
from pathlib import Path
import pandas as pd
import glob

In [2]:
headerline = ['loanIdentifier','origChannel','sellerName','origIntRate','origUPB','origLoanTerm',\
         'origDate','firstPmtDate','origLTV','origCLTV','numBorrowers','origDebtIncRatio',\
         'borrCreditScore','firstTHBI','loanPurp','propType','numUnits','occType','propState',\
         'zipCode','pMIperct','prodType','coborrCreditScore','mortInsType','relocMortInd']

In [3]:
for in_path in Path('D:\Acquisition_All').glob('*.txt'):
     out_path = in_path.with_suffix('.csv')
     #print(f'in path: {in_path}')
     with in_path.open('r') as fin, out_path.open('w', newline='') as fout:
        reader = csv.DictReader(fin, fieldnames=headerline,delimiter="|")
        #print(f'reader fieldnames: {reader.fieldnames}')
        writer = csv.DictWriter(fout, reader.fieldnames, delimiter=",")
        
        writer.writeheader()
        writer.writerows(reader)

In [6]:
# path = r'D:\Acquisition_All' # use your path
# all_files = glob.glob(path + "/*.csv")

li = []

for in_path in Path('D:\Acquisition_All').glob('*.csv'):
    df = pd.read_csv(in_path, index_col=None, header=0)
    li.append(df)

df = pd.concat(li, axis=0, ignore_index=True)

In [8]:
df = frame

In [9]:
df.shape

(40887332, 25)

In [10]:
df.head()

,loanIdentifier,origChannel,sellerName,origIntRate,origUPB,origLoanTerm,origDate,firstPmtDate,origLTV,origCLTV,...,propType,numUnits,occType,propState,zipCode,pMIperct,prodType,coborrCreditScore,mortInsType,relocMortInd
0,100007365142,R,"JPMORGAN CHASE BANK, NA",8.000,75000,360,12/1999,02/2000,79.0,NaN,...,SF,1,P,PA,173,NaN,FRM,NaN,NaN,N
1,100007386460,B,"JPMORGAN CHASE BANK, NA",7.875,55000,180,01/2000,03/2000,69.0,NaN,...,CO,1,P,MD,208,NaN,FRM,NaN,NaN,N
2,100011322040,C,AMTRUST BANK,7.750,123000,360,11/1999,01/2000,80.0,NaN,...,SF,1,P,MO,630,NaN,FRM,NaN,NaN,N
3,100015192562,R,OTHER,8.500,51000,360,02/2000,04/2000,95.0,NaN,...,SF,1,P,GA,316,25.0,FRM,NaN,1.0,N
4,100015874399,C,"CITIMORTGAGE, INC.",8.750,242000,360,02/2000,04/2000,95.0,NaN,...,SF,1,P,FL,335,30.0,FRM,NaN,1.0,N

In [11]:
df.to_csv('FannieAcq2000-19Q1.csv')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40887332 entries, 0 to 40887331
Data columns (total 25 columns):
loanIdentifier       int64
origChannel          object
sellerName           object
origIntRate          float64
origUPB              int64
origLoanTerm         int64
origDate             object
firstPmtDate         object
origLTV              float64
origCLTV             float64
numBorrowers         float64
origDebtIncRatio     float64
borrCreditScore      float64
firstTHBI            object
loanPurp             object
propType             object
numUnits             int64
occType              object
propState            object
zipCode              int64
pMIperct             float64
prodType             object
coborrCreditScore    float64
mortInsType          float64
relocMortInd         object
dtypes: float64(9), int64(5), object(11)
memory usage: 7.6+ GB